name: Nix Flake actions

on:
  pull_request:
  push:
    branches:
      - master
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  nix-flake-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Check flake
        run: nix flake check -L -v

  build-pages:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs: nix-flake-check
    steps:
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          name: pyproject-nix
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - uses: actions/checkout@v6.0.0
      - name: Run build
        run: nix build -L '.#doc'
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./result

  deploy-pages:
    if: github.ref == 'refs/heads/master'
    needs: build-pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
